/*===================================
   Positioning and overall layouts
=================================*/
.l-table
{
  display: table;
  height: 100%;
  .l-table-cell
  {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
  }
}



.l-pinned
{
  position: fixed !important;
}

.l-sticky
{
  position: absolute !important;
}
.l-sticky, .l-pinned
{

  &.to-left
  {
    left: 0 !important;
  }
  &.to-bottom
  {
    bottom: 0 !important;
  }
  &.to-right
  {
    right: 0 !important;
  }
  &.to-top
  {
    top: 0 !important;
  }
  &.to-center
  {
    left: 50% !important;
    transform: translateX(-50%);
  }
}

.l-centered
{
  margin-right: auto;
  margin-left: auto;
}

.l-float-right
{
  float: right;
}
.l-float-left
{
  float: left;
}





